<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card">
                <h1>Upload</h1>
                
                <app-sb-messages [messages]="msgs"></app-sb-messages>

                <p-fileUpload name="file" [url]="destination" (onUpload)="onUpload($event)"
                        multiple="multiple" accept=".csv" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                </p-fileUpload>
            </div>
        </div>
    </div>
</div>
